<form>
  <mk-box header="College Information" [isCollapsable]="false" [isRemovable]="false">
    
    <div class="row">
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="collegeName">
          <input matInput required [(ngModel)]="colobj.collegeName" id="collegeName" type="text" class="form-control"
            placeholder="College Name" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red"> {{errorLastName}}</div>
      </div>
     
      <!-- </div>
    <div class="row"> -->
     
    </div>
  
    <div class="row">
      
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="addressLine1">
          <input matInput required [(ngModel)]="colobj.addressLine1" name="addressLine1" type="text"
            class="form-control" placeholder="Address Line 1" class="form-control"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorAddress1}}</div>
      </div>
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="addressLine2">
          <input matInput [(ngModel)]="colobj.addressLine2" name="addressLine2" type="text" class="form-control"
            placeholder="Address Line 2" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorAddress2}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="city">
          <input matInput required [(ngModel)]="colobj.city" name="city" type="text" class="form-control"
            placeholder="City" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorCity}}</div>
      </div>
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="state">
          <input matInput required [(ngModel)]="colobj.state" name="state" type="text" class="form-control"
            placeholder="State" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorState}}</div>
      </div>
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="zip">
          <input matInput required [(ngModel)]="colobj.zip" name="zip" type="text" class="form-control"
            placeholder="Zip" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorZip}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="contactNumber">
          <input matInput required [(ngModel)]="colobj.contactNumber" name="contactNumber" type="tel"
            class="form-control" placeholder="Cell Phone Number" class="form-control"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorCellPhone}}</div>
      </div>
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="otherNumber">
          <input matInput [(ngModel)]="colobj.otherNumber" name="otherNumber" type="text"
            class="form-control" placeholder="Other Phone Number" class="form-control"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorOtherPhone}}</div>
      </div>
      <div class="col-md-4 col-xs-6 form-group">
        <mat-form-field name="email">
          <input matInput required [(ngModel)]="colobj.email" name="email" type="text" class="form-control"
            placeholder="Email" class="form-control" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div style="color: red">{{errorEmail}}</div>
      </div>
    </div>
   
   
    <div class="row">
      <div class="col-md-3 col-xs-12 pull-right">
        <button (click)="addCollege()" type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
  </mk-box>
</form>